# Backend
ping-pong-game/dist
ping-pong-game/node_modules
ping-pong-game/# Logs
ping-pong-game/logs
ping-pong-game/*.log
ping-pong-game/npm-debug.log*
ping-pong-game/pnpm-debug.log*
ping-pong-game/yarn-debug.log*
ping-pong-game/yarn-error.log*
ping-pong-game/lerna-debug.log*
ping-pong-game/# OS
ping-pong-game/.DS_Store
ping-pong-game/# Tests
ping-pong-game/coverage
ping-pong-game/.nyc_output
ping-pong-game/# IDEs and editors
ping-pong-game/.idea
ping-pong-game/.project
ping-pong-game/.classpath
ping-pong-game/.c9/
ping-pong-game/*.launch
ping-pong-game/.settings/
ping-pong-game/*.sublime-workspace
ping-pong-game/# IDE - VSCode
ping-pong-game/.vscode/*
ping-pong-game/!.vscode/settings.json
ping-pong-game/!.vscode/tasks.json
ping-pong-game/!.vscode/launch.json
ping-pong-game/!.vscode/extensions.json


#frontend
ping-pong-frontend/node_modules
ping-pong-frontend/.pnp
ping-pong-frontend/.pnp.js
ping-pong-frontend/
ping-pong-frontend/# testing
ping-pong-frontend/coverage
ping-pong-frontend/
ping-pong-frontend/# production
ping-pong-frontend/build
ping-pong-frontend/
ping-pong-frontend/# misc
ping-pong-frontend/.DS_Store
ping-pong-frontend/.env.local
ping-pong-frontend/.env.development.local
ping-pong-frontend/.env.test.local
ping-pong-frontend/.env.production.local
ping-pong-frontend/
ping-pong-frontend/npm-debug.log*
ping-pong-frontend/yarn-debug.log*
ping-pong-frontend/yarn-error.log*
