# Backend

ping-pong-backend/node_modules
ping-pong-backend/dist
ping-pong-backend/# Logs
ping-pong-backend/logs
ping-pong-backend/*.log
ping-pong-backend/npm-debug.log*
ping-pong-backend/pnpm-debug.log*
ping-pong-backend/yarn-debug.log*
ping-pong-backend/yarn-error.log*
ping-pong-backend/lerna-debug.log*
ping-pong-backend/# OS
ping-pong-backend/.DS_Store
ping-pong-backend/# Tests
ping-pong-backend/coverage
ping-pong-backend/.nyc_output
ping-pong-backend/# IDEs and editors
ping-pong-backend/.idea
ping-pong-backend/.project
ping-pong-backend/.classpath
ping-pong-backend/.c9/
ping-pong-backend/*.launch
ping-pong-backend/.settings/
ping-pong-backend/*.sublime-workspace
ping-pong-backend/# IDE - VSCode
ping-pong-backend/.vscode/*
ping-pong-backend/!.vscode/settings.json
ping-pong-backend/!.vscode/tasks.json
ping-pong-backend/!.vscode/launch.json
ping-pong-backend/!.vscode/extensions.json


#frontend nextjs

# dependencies
ping-pong/node_modules
ping-pong/.pnp
ping-pong/.pnp.js

# testing
ping-pong/coverage

# next.js
ping-pong/.next/
ping-pong/out/

ping-pong/# production
ping-pong/build

ping-pong/# misc
ping-pong/.DS_Store
ping-pong/*.pem

ping-pong/# debug
ping-pong/npm-debug.log*
ping-pong/yarn-debug.log*
ping-pong/yarn-error.log*

ping-pong/# local env files
ping-pong/.env*.local

ping-pong/# vercel
ping-pong/.vercel

ping-pong/# typescript
ping-pong/*.tsbuildinfo
ping-pong/next-env.d.ts

