*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --hue: 300;
  --saturation: 50%;
  --background-color: hsl(var(--hue), var(--saturation), 20%);
  --paddle-color: hsl(var(--hue), var(--saturation), 75%);
}

body {
  margin: 0;
  background-color: var(--background-color);
}

.paddle {

  --position: 50;

  transform: translateY(-50%);
  top: calc(var(--position) * 1vh);
  position: absolute;
  background-color: var(--paddle-color);
  width: 1vh;
  height: 12vh;
}

.paddle.left {
  left: 1vw;
}

.paddle.right {
  right: 1vw;
}

.ball {
  --y: 50;
  --x: 50;

  transform: translate(-50%, -50%);
  top: calc(var(--y) * 1vh);
  left: calc(var(--x) *1vw);
  position: absolute;
  border-radius: 100%;
  background-color: var(--paddle-color);
  width: 2vh;
  height: 2vh;
}

.score {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 7vh;
}