
.our-tab-scroll::-webkit-scrollbar {
    display: none!important;
}

.our-tab-scroll::-webkit-scrollbar-thumb {
    background-color: #6d3fd7!important;
    border-radius: 5px!important;

}

.our-tab-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #8d7f3c!important;
}

.our-tab-scroll::-webkit-scrollbar-track {
    background-color: #d5545400!important;
}
